<!--<div style="display: flex;flex-direction: column;border: 1px solid black;height: 100%;">-->
<!--  <span></span>-->

<!--  <span>-->


<!--  </span>-->
<!--</div>-->
<div class="card" style="width: 9rem;">
  <div class="card-body">
    <h5 class="card-title">{{day.Date | date: 'E'}}</h5>
    <!-- <p class="card-text">
      {{day.Temperature.Minimum.Value}}-
      {{day.Temperature.Maximum.Value}}
    </p> -->
    <p class="card-text">
      {{day.Temperature.Minimum.Value}} - {{day.Temperature.Maximum.Value}}
    </p>
  </div>
</div>
