.forecast-days-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-wrap {
  margin-right: 1%;
  width: 20%;
}

@media screen and (max-width: 990px) {
  .forecast-days-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .card-wrap {
    margin: 2px;
    width: 100%;

  }
}
