<div class="card" style="width: 9rem;">
  <div class="card-body">
    <h5 class="card-title">{{ weatherData.date | date: 'E' }}</h5>
    <h5 class="card-title">{{ weatherData.name }}</h5>

    <p class="card-text">
      <img src="./../../assets/img/rain.svg" alt="">
      <span *ngIf="weatherData.temperature.min !== 0">
        {{fahrenheitToCelsius(weatherData.temperature.min)}} - {{fahrenheitToCelsius(weatherData.temperature.max)}}
      </span>
      <span *ngIf="weatherData.temperature.min === 0">
        {{ weatherData.temperature.current }}
      </span>
    </p>
  </div>
</div>
