<div class="card"  [ngClass]="(isThemeLight$ | async) ? 'dark' : 'light'">
  <div class="card-body">
    <h5 class="card-title">{{ weatherData.date | date: 'E' }}</h5>
    <h5 class="card-title">{{ weatherData.name }}</h5>

    <p class="card-text">
      <span *ngIf="weatherData.temperature.min !== 0">
        <span *ngIf="!(isDegreesCelsius$ | async)">{{weatherData.temperature.min}}C - {{weatherData.temperature.max}}C</span>
        <span *ngIf="isDegreesCelsius$ | async">{{fahrenheitToCelsius(weatherData.temperature.min)}}F - {{fahrenheitToCelsius(weatherData.temperature.max)}}F</span>

      </span>
      <span *ngIf="weatherData.temperature.min === 0">
        {{ weatherData.temperature.current }}
      </span>
      <span class="weather-text" *ngIf="weatherData.showWeatherText">
        {{ weatherData.weatherText }}
      </span>
    </p>
  </div>
</div>

<!--*ngIf="!(isDegreesCelsius$ | async)"-->
<!--*ngIf="isDegreesCelsius$ | async"-->
