
<div class="wrapper" (click)="onCardClick()" [ngClass]="(isThemeLight$ | async) ? 'dark' : 'light'">
  <div class="top">
    <div class="content" *ngIf="city$ | async as city">
      <span><img class="current-weather-img icon" [src]="weatherIcon"  alt=""></span>

      <div class="city-current-weather">
        <span>{{ city.name}}</span>
        <span *ngIf="isDegreesCelsius$ | async">{{ city.temperature.celsius.current }} C</span>
        <span *ngIf="!(isDegreesCelsius$ | async)">{{ city.temperature.fahrenheit.current }} F</span>
        <div class="bottom">
          <h2 class="weather-text">{{ (city$ | async).temperature.weatherText }}</h2>
        </div>
      </div>
      <img *ngIf="!city.isFavorite" src="./../../assets/img/star-empty.svg" class="fav-icon icon" (click)="addRemoveFavorite('add')">
      <img *ngIf="city.isFavorite"  src="./../../assets/img/favs-page.svg" class="fav-icon icon" (click)="addRemoveFavorite('remove')">
    </div>

  </div>

</div>
