
<div class="wrapper">
  <div class="top">
  <div class="left">

  </div>

    <div class="middle">
      <span>{{ city$ | async}}</span>
      <span>{{ temperature$ | async }} C</span>


    </div>
    <div class="right">
      <img *ngIf="!(isFavorite$ | async)" src="./../../assets/img/unfavorite.svg" alt="" (click)="addRemoveFavorite('add')">
      <img *ngIf="(isFavorite$ | async)"  src="./../../assets/img/favorite.svg" alt="" (click)="addRemoveFavorite('remove')">
      isFavorite :: {{isFavorite$ | async}}
    </div>
  </div>

  <div class="center">
    <h2>Scattered clouds</h2>
  </div>
  <div class="bottom forecast-days-wrap">
    <div *ngFor="let day of forecastDays$ | async" class="day">
      <forecast-day [day]="day"></forecast-day>
    </div>
  </div>

</div>
