.search {
  padding: 10px;
  border: 0;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
  &:focus {
    outline: none;
  }
}
.icon-search {
  border-radius: 0 6px 6px 0;
  padding: 10px;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

.cities-found-ul {
  list-style-type: none;
  border: 1px solid grey;
  background-color: white;
  padding: 7px;
}

.city-found {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}
.search-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.search-result-wrapper {
  position: absolute;
  top: 80px;
  width: 233px;
}
