
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 68vh;
  width: 70vw;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 5%;
}
.forecast-container {
  display: flex;
  justify-content: center;
}

.item {
  height: 40%;
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .container {
    height: calc(100vh - calc(100vh - 100%))
  }
  .forecast-container {
    display: block;
  }
}
